.header {
  position: sticky;
  top: 0;
  /* z-index: 1000; Ensure it appears above other elements */
  background-color: #fff; /* Ensure it has a background color to cover content behind */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional: Add a shadow for better visibility */
  padding: 10px 20px; /* Add padding as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .links {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (min-width: 769px) {
  .links {
    display: flex;
  }

  .burger {
    display: none;
  }
}
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }

  .joLogo {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: rem(24px);
    line-height: 1.5rem;
    background-color: transparent;
    color: #1A1A1A;
    padding: 0.5rem 1rem;
    border-radius: rem(4px);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-decoration: none; /* Remove underline */
  }

  .button {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: rem(18px);
    line-height: 1.5rem;
    background-color: transparent;
    color: #1A1A1A;
    padding: 0.5rem 1rem;
    border-radius: rem(4px);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-decoration: none; /* Remove underline */
  }
  
  .button:hover, .button:focus {
    background-color: #1F1E1E;
    color: #FFFFFF;
  }

 
  