  .inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }
  
  .content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 3);
    color: #1A1A1A;
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 1.625rem;
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
    }
  }

  .frame {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 90rem;
    height: 54.688rem;
    overflow: hidden;
    font-size: var(--font-size-base);
  }

  .text { 
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: rem(18px);
    line-height: rem(24px);
  }
  
  .control {
    @media (max-width: $mantine-breakpoint-xs) {
      flex: 1;
    }
  }
  
  .button {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: rem(18px);
    line-height: rem(24px);
    color: #1F1E1E;
    background-color: transparent;
    padding: 0.5rem 1rem;
    padding-left: 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: rem(4px);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover, .button:focus {
    background-color: #1F1E1E;
    color: #FFFFFF;
  }
  
  .button:hover svg path, .button:focus svg path {
    fill: #FFFFFF;
  }
  
  .button:active {
    background-color: #1F1E1E;
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
  
  .button:active svg path {
    fill: #FFFFFF;
  }
  
  .highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
  }

  .specialName {
    font-family: 'Inter', sans-serif;
    font-size: rem(96px);
    font-weight: 700;
    line-height: auto;
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }