.footerContainer {
  padding-bottom: rem(60px);
}

.sectionTitle {
  font-size: rem(16px); /* Adjust as needed */
  font-weight: 300;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.button {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: transparent;
  color: #1A1A1A;
  padding: 0.5rem 1rem;
  border: 1px solid #C6C6C6;
  border-radius: rem(4px);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none; /* Remove underline */
}

.button:hover, .button:focus {
  background-color: #1F1E1E;
  color: #FFFFFF;
  border-color: #1F1E1E;
}

.button svg {
  margin-right: 0.5rem;
  transition: fill 0.3s;
}

.button:hover svg, .button:focus svg {
  fill: #FFFFFF;
}
